[user]
	name = Mehdi Khoshnoodi
	email = mehdy.khoshnoody@gmail.com
	signingkey = 16D507B0F1A4B37A

[commit]
	gpgsign = true

[core]
	pager = delta
	excludesfile = /home/mehdy/.gitignore

[rebase]
	autoStash = true

[interactive]
	diffFilter = delta --color-only

[add.interactive]
	useBuiltin = false

[delta]
	navigate = true
	light = false
	line-numbers = true

[merge]
	conflictstyle = zdiff3

[diff]
	colorMoved = default
	algorithm = histogram

[push]
	autoSetupRemote = true

[pull]
	rebase = true

[remote "origin"]
	prune = true

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[url "ssh://git@gitlab.com/"]
	insteadOf = https://gitlab.com/

[includeIf "gitdir:~/Projects/gitlab.com/a11s.ai/"]
	path = ~/Projects/gitlab.com/a11s.ai/.gitconfig
